{% load static %}
{% block page_content %}



<div class="container">
    <div class="row">
        {% for glider in gliders %}


            <div class="col-auto col-sm col-4 mr-2 ml-2 mt-2 mb-2">

                <div class="card">
                    <img class="card-img-top" src="{{ glider.gliderImage.url }}" alt="Card image cap">
                    <div class="card-body">
                        <div class="row ml-1">
                            <h3 href="#" class="card-title">{{ glider.name }} </h3>
                            <div class="ml-auto mr-3">
                                <h3 class="card-text float-right">{{ glider.maker }}</h3>
                            </div>
                        </div>

                        <p class="card-text">{{ glider.year }}</p>
                        <div class="card-body">
                            <div class="row ml-1">
                                <div class="mr-auto">
                                    <button href="#" class="btn btn-primary float-left">Page</button>
                                </div>
                                <div class="ml-auto mr-3">
                                    <button href="#" class="btn btn-primary float-right">Compare</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        {% endfor %}
    </div>
</div>

    <!--Pagination-->
      <div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
              {% if gliders.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ gliders.previous_page_number }}">previous</a>
              {% endif %}

                <span class="current">
                    Page {{ gliders.number }} of {{ gliders.paginator.num_pages }}
                </span>

              {% if gliders.has_next %}
                  <a href="?page={{ gliders.next_page_number }}">next</a>
                  <a href="?page={{ gliders.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
            </div>
        </div>
      <!--end of Pagination-->



    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],

            offset: 'bottom-in-view',

            onBeforePageLoad: function () {

            },
            onAfterPageLoad: function () {

            }
        });
    </script>

{% endblock %}