{% load static %}
{% load my_tags %}
{% block cards_content %}


    <div class="row infinite-container">
        {% for glider in gliders %}


            <div class="col-auto col-sm col-4 mr-2 ml-2 mt-2 mb-2 infinite-item ">

                <div class="card ">
                    <img class="card-img-top" src="{{ glider.gliderImage.url }}" alt="Card image cap">
                    <div class="card-body">
                        <div class="row ml-1">
                            <h3 href="#" class="card-title">{{ glider.name }} </h3>
                            <div class="ml-auto mr-3">
                                <h3 class="card-text float-right">{{ glider.maker }}</h3>
                            </div>
                        </div>

                        <p class="card-text">{{ glider.year }}</p>
                        <div class="card-body">
                            <div class="row ml-1">
                                <div class="col text-center">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{ glider.id }}">View</button>

                                </div>
                                    {% include 'showcase/modal_glider.html' %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        {% endfor %}
    </div>



    <!--Pagination-->
    {% if gliders.has_next %}
        <a class="infinite-more-link" href="?{% relative_url page=gliders.next_page_number %}">More</a>
    {% endif %}

    <!--end of Pagination-->

    <!--Loading NON FUNZIONA-->
    <div class="loading" style="display: none;">
        {% include 'showcase/loader.html' %}
    </div>
    <!-- end of Loading -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>

    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],

            onBeforePageLoad: function () {
                $('.loading').show();
            },

            onAfterPageLoad: function () {
                $('.loading').hide();
            },
        });
    </script>

{% endblock %}
{% load static %}