{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <!--about -->
    <div class="section about ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titlepage">
                        <h2><strong class="black"> Add a new</strong> Glider</h2>
                        <span>Add a new glider below, you can set the size later in the size panel</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- end about -->

    <div id="plant" class="section  product">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-6">


                    <div class="col text-center">

                        <form method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ add_glider_form|crispy }}

                            <div class="field">
                                <div class="control">
                                    <button class="button is-dark is-uppercase">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}