{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <div id="plant" class="section  product">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage">
                        <div class="col text-center">
                            <h2> Edit <strong class="black"> {{ size.glider.name }} </strong> size :<strong class="black"> {{ size.size }} </strong></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="plant" class="section  product">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-6">


                    <div class="col text-center mb-5">

                        <form method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ edit_size_form|crispy }}

                            <div class="field mt-3">
                                <div class="control">
                                    <button class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% load static %}