{% extends 'base.html' %}
{% load static %}



{% block carousel_header %}
    <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">

        <!--<div class="carousel-item active">-->
        <div class="container">
            <div class="row marginii">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="carousel-caption ">
                        <h1>Welcome <strong class="color">{{ manufacturer.name }}</strong> admin</h1>


                        <a class="btn btn-lg btn-primary" href={% url 'showcase:edit_info' %} role="button">Edit
                            Info </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="img-box">
                        <figure><img src="{{ manufacturer.logoImage.url }}" alt="img"/></figure>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->

    </div>
{% endblock %}



{% block content %}
    <link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css
          rel=stylesheet>

    <!-- OVVERIDE <link href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css rel=stylesheet> -->






    <div class="container">

        <!-- TABLE -->


        <table class="table table-bordered table-hover table-inverse table-striped"
               id=tableGliderAdmin>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Year</th>
                <th scope="col">Name</th>
                <th scope="col">
                    <a href="{% url 'showcase:add_glider' %}" class="btn btn-success"
                       style="width:100%">Add Glider</a>

                </th>
                <th scope="col"></th>
            </tr>
            </thead>



             <tbody>
            {% for glider in gliders %}

                <tr>
                    <th>{{ glider.id }}</th>
                    <td>{{ glider.year }}</td>
                    <td>{{ glider.name }}</td>
                    <td style="width:20%">
                        <a href="{% url 'showcase:edit_glider' glider.id %}"
                           class="btn btn-warning" style="width:100%">Edit</a>
                    </td>
                    <td style="width:20%">
                        <form method="POST" action="{% url 'showcase:remove_glider' %}">
                            {% csrf_token %}
                            <input type="hidden" name="gliderPk" value="{{ glider.pk }}"/>
                            <input class="btn btn-danger" type="submit" style="width:100%" value="Remove">
                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>


        <!-- END TABLE -->
    </div>






    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>

    <script>
        $(document).ready(function () {
            $('#tableGliderAdmin').DataTable();
        });
    </script>


{% endblock %}

{% load static %}