{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">

        <div class="carousel-inner">
            <div class="container">
                <div class="row marginiismall"></div>
            </div>
        </div>

    </div>

    <div class="clothes_main section ">
        <div class="container">
            <div class="row">

                {% include "showcase/cards_manufactures.html" %}

            </div>
        </div>
    </div>

{% endblock %}

{% load static %}