{% extends 'base.html' %}
{% load static %}

{% block carousel_header %}

    <section>
        <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">
            <div class="carousel-inner">
                <div class="container">
                    <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="carousel-caption ">
                                <h1>Our <strong class="color">Partners</strong></h1>
                                <p>The most famous and popular paraglider Producers are here, visit their comparaider profile and explore their Gliders selection</p>

                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="img-box">
                                <figure><img src="{% static 'images/paraglider-intro3.png' %}" alt="img"/></figure>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>

{% endblock %}

{% block content %}


    <div class="clothes_main section ">
        <div class="container">
            <div class="row">

                {% include "showcase/cards_manufactures.html" %}

            </div>
        </div>
    </div>

{% endblock %}

{% load static %}