{% load static %}

{% block modal_review %}

    <div class="review-wrapper" id="review{{ glider.id }}">

        <div class="row justify-content-center">


            {% if user.is_authenticated and user.is_person %}


                {% for x in user.user_review.all %}

                    {% if x.glider.id == glider.id %}

                        <a href="{% url 'reviews:edit_review' glider.id x.id %}" class="btn btn-primary">Edit
                            Review</a>

                    {% else %}

                        <a href="{% url 'reviews:add_review' glider.id %}" class="btn btn-primary">Add
                            Review</a>

                    {% endif %}

                 {% empty %}
                        <a href="{% url 'reviews:add_review' glider.id %}" class="btn btn-primary">Add
                            Review</a>
                {% endfor %}




            {% else %}
                <div class="text-center">
                    <p>Please sign in to add review!</p>
                </div>
            {% endif %}


        </div>


        <div class="row infinite-container mr-2 ml-2 mt-2 mb-2" id="reviewGlider {{ glider.id }}">
            {% for review in glider.glider_review.all %}

                <div class="row  mr-2 ml-2 mt-2 mb-2 infinite-item ">

                    <div class="card" id="review {{ review.id }}">
                        <div class="card-header">
                            {{ review.user.get_username }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><strong>Date: </strong>{{ review.date_added|date:"Y-m-d" }},
                                <strong>Stars: </strong>{{ review.stars }}</h5>
                            <p class="card-text">{{ review.content }}</p>
                        </div>
                    </div>

                </div>

            {% empty %}

                <div class="notification space-below text-center">
                    No reviews yet...
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}

{% load static %}