{% load static %}

{% block modal_glider %}
    <!-- Modal -->

    <div class="modal fade " id="modal{{ glider.id }}" tabindex="-1" role="dialog"
         aria-labelledby="modalGlider"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" >
            <div class="modal-content">
                <img class=img-responsive src="{{ glider.gliderImage.url }}" style="max-height:250px;">
                <div class="modal-header">


                    <h5 class="modal-title">{{ glider.name }}</h5>
                    <h5 class="text text-center">{{ glider.maker }}<br>{{ glider.year }}</h5>


                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">X</button>

                </div>

                <!-- START HEAD TAB -->
                <ul class="nav nav-tabs" id="#tabContent" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#gliderTechDataTab{{ glider.id }}" role="tab"
                           aria-controls="gliderTechDataTab" aria-selected="true">Technical Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#gliderReviewsTab{{ glider.id }}" role="tab"
                           aria-controls="gliderReviewsTab" aria-selected="false">Reviews</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#provaTab{{ glider.id }}" role="tab"
                           aria-controls="provaTab" aria-selected="true">prova</a>
                    </li>


                </ul>
                <!-- END HEAD TAB -->

                <div class="tab-content">

                    <div class="tab-pane active" id="gliderTechDataTab{{ glider.id }}">
                        {% include 'showcase/modal_table.html' %}
                    </div>

                    <div class="tab-pane" id="gliderReviewsTab{{ glider.id }}">
                        {% include 'showcase/modal_review.html' %}

                    </div>

                    <div class="tab-pane" id="provaTab{{ glider.id }}">
                        PROVA TAB {{ glider.name }}

                    </div>

                </div>
                <!--
                <div class="modal-body">



                </div> -->

            </div>
        </div>
    </div>



    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>

{% endblock %}

{% load static %}