{% load static %}

{% block modal_table %}

    <table class="table table-striped" id="table{{ glider.id }}">
        <thead>
        <tr>
            <th scope="col"></th>
            {% for size in glider.glider_size.all %}
                <th scope="col">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="">Compare</button>
                </th>
            {% endfor %}
        </tr>

        <tr>
            <th scope="col">Size</th>
            {% for size in glider.glider_size.all %}
                <th scope="col">{{ size.size }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Certification</th>
            {% for size in glider.glider_size.all %}
                <th scope="col">{{ size.certification }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row">Takeoff Weight</th>
            {% for size in glider.glider_size.all %}
                <th scope="col">{{ size.takeoffWeightMin }}-{{ size.takeoffWeightMax }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row">Cells</th>
            {% for size in glider.glider_size.all %}
                <th scope="col">{{ size.cells }}</th>
            {% endfor %}
        </tr>
        </tbody>
    </table>

{% endblock %}

{% load static %}