{% load static %}

{% block modal_table %}

    <table class="table table-striped" id="table{{ glider.id }}">
        <thead>
        <tr>
            <th scope="col"></th>
            {% for size in glider.glider_size.all %}
                <th scope="col">

                    <form method="POST" action=".">
                        {% csrf_token %}
                        <input type="hidden" name="sizeId" value="{{ size.id }}"/>
                        <input class="btn btn-primary" type="submit" value="Compare">
                    </form>


                </th>
            {% endfor %}
        </tr>

        <tr>
            <th scope="col">Size</th>
            {% for size in glider.glider_size.all %}
                <th scope="col">{{ size.size }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Certification</th>
            {% for size in glider.glider_size.all %}
                <th scope="col">{{ size.certification }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row">Takeoff Weight</th>
            {% for size in glider.glider_size.all %}
                <th scope="col">{{ size.takeoffWeightMin }}-{{ size.takeoffWeightMax }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row">Cells</th>
            {% for size in glider.glider_size.all %}
                <th scope="col">{{ size.cells }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row">Glider Weight</th>
            {% for size in glider.glider_size.all %}
                <th scope="col">{{ size.gliderWeight }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row">Flat Area</th>
            {% for size in glider.glider_size.all %}
                <th scope="col">{{ size.flatArea }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row">Project Area</th>
            {% for size in glider.glider_size.all %}
                <th scope="col">{{ size.projectArea }}</th>
            {% endfor %}
        </tr>

    </table>

{% endblock %}

{% load static %}