{% load static %}

{% block modal_review %}

    <div class="review-wrapper" id="review{{ glider.id }}">

        <div class="row justify-content-center">

            <div class="col-lg-.">

                <div class="notification space-below">

                        {% if user.is_authenticated and user.is_person %}
                            {% if user.user_review %}
                                 <button type="button" class="btn btn-primary"  >Edit Review</button>

                                {% else %}

                                <a href="{% url 'reviews:add_review' glider.id %}" class="btn btn-primary" >Add Review</a>

                                {% endif %}

                        


                    {% else %}
                        <div class="text-center">
                            <p>Please sign in to add review!</p>
                        </div>
                    {% endif %}


                </div>
            </div>
        </div>


        <div class="row infinite-container">
            {% for review in glider.glider_review.all %}

                <div class="col-auto col-sm col-4 mr-2 ml-2 mt-2 mb-2 infinite-item ">

                    <div class="card">
                        <div class="card-header">
                            {{ review.user.get_username }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><strong>Date: </strong>{{ review.date_added|date:"Y-m-d" }},
                                <strong>Stars: </strong>{{ review.stars }}</h5>
                            <p class="card-text">{{ review.content }}</p>
                        </div>
                    </div>

                </div>

            {% empty %}
                <a href="{% url 'reviews:add_review' glider.id %}" class="btn btn-primary" >Add Review</a>

                <div class="notification space-below">
                    No reviews yet...
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}

{% load static %}