{% load static %}

{% load crispy_forms_tags %}


<div class="container" id="search_bar_anchor">
    <div class="row">
        <div class="col-lg-12 card-margin">

            <div class="card-body p-0">

                <div class="row">
                    <form method="get">{{ myFilter.form|crispy }}</form>

                    <form class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manufactures
                            </button>
                            <div class="dropdown-menu">
                                {% for manufacture in manufactures %}
                                    <a class="dropdown-item" href="#">{{ manufacture.name }}</a>
                                {% endfor %}
                            </div>
                        </div>

                        <form method="get">{{ myFilter.form|crispy }}</form>
                        <button type="submit" class="btn btn-base">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-search">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </button>

                </div>

            </div>
        </div>

    </div>


    <div section>
        <div class="row">
            <div class="col text-center">
                <p>
                    <button class="btn btn-primary" data-toggle="collapse" href="#collapseFilter" role="button"
                            aria-expanded="false" aria-controls="collapseFilter">
                        Filters
                    </button>
            </div>
        </div>
        </p>
        <div class="row">
            <!-- COLLAPSE SECTION FILTER -->
            <div class="collapse" id="collapseFilter">


                <div class="container">

                    <div class="row justify-content-center">

                        <!-- START CARDS SECTIONS-->

                        <!-- CERTIFICATION CARD -->
                        <div class="col-auto mr-2 ml-2 mt-2 mb-2">
                            <div class="card" style=" max-width: 12rem; min-width: 12rem">

                                <div class="card-header text-center">
                                    Certification
                                </div>
                                <div class="card-body">
                                    <div class="wrapper text-center">
                                        <div class="btn-group btn-group-toggle text" data-toggle="buttons">


                                            <input type="checkbox" class="btn-check" id="btn-check-outlined"
                                                   autocomplete="off">
                                            <label class="btn btn-outline-primary"
                                                   for="btn-check-outlined">K</label><br>


                                            <button type="button" class="btn btn-primary" data-toggle="button"
                                                    aria-pressed="true"
                                                    autocomplete="off">
                                                A
                                            </button>

                                            <button type="button" class="btn btn-primary" data-toggle="button"
                                                    aria-pressed="true"
                                                    autocomplete="off">
                                                B
                                            </button>

                                            <button type="button" class="btn btn-primary" data-toggle="button"
                                                    aria-pressed="true"
                                                    autocomplete="off">
                                                C
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CERTIFICATION CARD -->

                        <!-- TAKEOFF WEIGHT CARD -->
                        <div class="col-auto mr-2 ml-2 mt-2 mb-2">
                            <div class="card" style=" max-width: 12rem; min-width: 12rem">

                                <div class="card-header text-center">
                                    Takeoff Weight (kg)
                                </div>
                                <div class="card-body">
                                    <div class="wrapper text-center">
                                        <div class="takeoff-weight">
                                        <span class="input-number">

                                            <input type="number" maxlength="3" id="inputNumber" name="inputNumber"
                                                   value="50" style="width: 7rem">

                                        </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END TAKEOFF WEIGHT CARD -->

                        <!-- YEAR CARD -->
                        <div class="col-auto mr-2 ml-2 mt-2 mb-2">
                            <div class="card" style=" max-width: 12rem; min-width: 12rem">

                                <div class="card-header text-center">
                                    Years
                                </div>
                                <div class="card-body">

                                    nothing here


                                </div>
                            </div>
                        </div>

                        <!-- END YEAR CARD -->

                        <!-- GLIDER WEIGHT CARD -->
                        <div class="col-auto mr-2 ml-2 mt-2 mb-2">
                            <div class="card" style=" max-width: 12rem; min-width: 12rem">

                                <div class="card-header text-center">
                                    Glider Weight (Kg)
                                </div>
                                <div class="card-body">

                                    nothing here


                                </div>
                            </div>
                        </div>

                        <!-- END GLIDER WEIGHT CARD -->

                        <!-- FLAT AREA CARD -->
                        <div class="col-auto mr-2 ml-2 mt-2 mb-2">
                            <div class="card" style=" max-width: 12rem; min-width: 12rem">

                                <div class="card-header text-center">
                                    Flat Area
                                </div>
                                <div class="card-body">

                                    nothing here


                                </div>
                            </div>
                        </div>

                        <!-- END FLAT AREA CARD -->

                        <!-- FLAT ASPECT RATIO CARD -->
                        <div class="col-auto mr-2 ml-2 mt-2 mb-2">
                            <div class="card" style=" max-width: 12rem; min-width: 12rem">

                                <div class="card-header text-center">
                                    Flat Aspect Ratio
                                </div>
                                <div class="card-body">

                                    nothing here


                                </div>
                            </div>
                        </div>

                        <!-- END FLAT ASPECT RATIO CARD -->

                        <!-- CELL CARD -->
                        <div class="col-auto mr-2 ml-2 mt-2 mb-2">
                            <div class="card" style=" max-width: 12rem; min-width: 12rem">

                                <div class="card-header text-center">
                                    Cell
                                </div>
                                <div class="card-body">

                                    nothing here


                                </div>
                            </div>
                        </div>
                        <!-- END CELL CARD -->
                    </div>
                    <!-- END CARDS SECTIONS-->
                </div>
            </div>
            <!-- END COLLAPSE FILTER -->
        </div>
    </div>
</div>


<script>
    function scrollToHash(hashName) {
        location.hash = "/showcase/home/?name" + hashName;
    }
</script>
