{% load static %}

{% load crispy_forms_tags %}

{% block extracss %}


{% endblock %}

{% block searchbar %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="container" id="search_bar_anchor">

        <form method="get">
            {% csrf_token %}


            <div class="row align-items-end justify-content-center">

                {% block makersearchbarfield %}
                <div class="form-group col-2 ml-0 pr-0">
                    {{ myFilter.form.maker | as_crispy_field }}
                </div>
                {% endblock %}

                <div class="form-group col-6 ml-0">
                    {{ myFilter.form.name | as_crispy_field }}
                </div>


                <div class="form-group col-3 mb-0">
                    <button type="submit" class="btn btn-base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round" class="feather feather-search">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </button>
                </div>

            </div>

            <div class="row mt-3 mb-5">
                <div section>
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary" data-toggle="collapse"
                                href="#collapseFilter"
                                aria-expanded="false" aria-controls="collapseFilter">
                            Filters
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="collapse" id="collapseFilter">


                    <div class="container">

                        <div class="row justify-content-center">
                            <div class="col-8 ">
                                {{ myFilter.form.year | as_crispy_field }}
                                {{ mySizeFilter.form|crispy }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>





    </div>



    <script>
        function scrollToHash(hashName) {
            location.hash = "/showcase/home/?name" + hashName;
        }
    </script>

{% endblock %}
{% load static %}