{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Comparaider - New User</title>
{% endblock %}

{% block carousel_header %}

    <section>
        <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">
            <!--<ol class="carousel-indicators">
               <li data-target="#main_slider" data-slide-to="0" class="active"></li>
               <li data-target="#main_slider" data-slide-to="1"></li>
               <li data-target="#main_slider" data-slide-to="2"></li>
            </ol>-->
            <div class="carousel-inner">
                <!--<div class="carousel-item active">-->
                <div class="container">
                    <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="carousel-caption ">
                                <h1>Enjoy our <strong class="color">Community</strong></h1>
                                <p>Enjoy our community and review your Glider !</p>
                                <!--<a class="btn btn-lg btn-primary" href="#" role="button">Buy Now</a>
                                <a class="btn btn-lg btn-primary" href="about.html" role="button">About </a>-->
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="img-box">
                                <figure><img src="{% static 'images/paraglider-intro2.png' %}" alt="img"/></figure>
                            </div>
                        </div>
                    </div>
                </div>
                <!--</div>-->

            </div>
            <!--<a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class='fa fa-angle-left'></i></a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class='fa fa-angle-right'></i>
            </a> -->
        </div>

    </section>

{% endblock %}

{% block content %}



    <div id="plant" class="section  product">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-6">

                    <form method="post">

                        <div class="col text-center">

                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" value="Sign up" class="btn btn-success mt-3">
                        </div>
                    </form>
                    <div class="col text-center">
                        <a href="{% url 'showcase:home' %}" class="mt-3 btn btn-danger"><span>Cancel</span></a>
                    </div>
                </div>
            </div>
        </div>


        <!--about -->
    <div class="section about ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titlepage">
                        <h2><strong class="black"> Are you a</strong> Manufacturer<strong class="black"> ?</strong></h2>
                        <span>Create an account and Email us at: <strong> partners@comparaider.com</strong> <br> with your personal account username and some proofs, we are pleased to add you to our partners!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- end about -->

{% endblock %}