{% load static %}

{% block navbar %}
    <!-- header -->
    <header class="section">
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"><a href={% url "showcase:home" %}><img
                                        src="{% static 'images/comparaider-logo2.png' %}" alt="#"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li><a href={% url "showcase:home" %}>Home</a></li>
                                        <li><a href={% url "showcase:prova" %}>Prova</a></li>
                                        <li><a href={% url "showcase:manufactures" %}>Manufactures</a></li>
                                        <li><a href={% url "comparetool:compare" %}>Compare</a></li>

                                        {% if user.is_authenticated and user.is_person %}
                                            
                                            <li><a href={% url "logout" %}>Logout</a></li>
                                        {% else %}

                                            {% if user.is_authenticated and user.is_manufacturer %}
                                                <li><a href={% url "showcase:manufacture_panel" %}>Profile M</a></li>
                                                <li><a href={% url "logout" %}>Logout</a></li>


                                            {% else %}
                                                <li><a href={% url "login" %}>Login</a></li>
                                                <li><a href={% url "members:signup" %}>Sign up</a></li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->
{% endblock %}
